// Font
//
// Variations on size and line height for any text.
//
// Markup: font.html
//
// .font__large   - Larger than medium but not as big as a heading.
// .font__medium  - Larger than base font size.
// .font__small   - Smaller thank base font size.
//
// Styleguide: components.font
// The font sizes for small-larger.
$larger-font-size: 2.125rem;
$large-font-size: 1.5rem;
$medium-font-size: 1.125rem;
$small-font-size: 0.875rem;
%font__larger, .font__larger {
  @include font-size-line-height(1.5rem);
  font-weight: 300;
  color: #000;
  @include breakpoint($large) {
    @include font-size-line-height(2.125rem);
  }
}

%font__large, .font__large {
  @include font-size-line-height(1.25rem);
  font-weight: 300;
  @include breakpoint($large) {
    @include font-size-line-height(1.5rem);
  }
}

%font__medium-large, .font__medium-large {
  font-weight: 300;
  color: color(dark);
  @include breakpoint($medium) {
    @include font-size-line-height(1.375rem);
  }
  @include breakpoint($large) {
    @include font-size-line-height(2rem);
  }
}

%font__medium, .font__medium {
  @include font-size-line-height($medium-font-size);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

%font__small, .font__small {
  @include font-size-line-height($small-font-size);
}
