// Site-Feedback
//
// Markup: site-feedback.html
//
// Styleguide components.site-feedback

// Site feedback block.
.site-feedback-block {
  background: #0d293b;
  color: white;

  margin-top: 0;
  margin-bottom: 0;

  & {
    @include heading;
    @include font-size-line-height($h2-font-size * .5, $heading-line-height-ratio);
    font-family: Gafata, serif, monospace;

    @include breakpoint($large) {
      @include font-size-line-height($h2-font-size, $heading-line-height-ratio);
    }

  }

  &__inner {
    .main {
      @extend %layout-max;
      @include display-flex;
      align-items: center;
      padding: 1rem;
      > * {
        // Invalidated by flexbox parent on newer browsers
        float: left;
      }
    }
    .message {
      @extend %layout-max;
      @include display-flex;
      align-items: center;
      padding: 1rem;
      .svg-icon {
        width: 50px;
        height: 30px;
        padding-right: 1rem;
        circle {
          stroke: #ffffff;
          stroke-width: 1;
        }
      }
    }
  }

  &__content {
    flex: 1;
    @include breakpoint($medium) {
      width: 80%;
      flex: 0 1 auto;
      .flexbox & {
        width: auto;
      }
    }
    p {
      margin: 0;
    }
  }

  &__simple {
    margin-left: 0;
    flex: 0 auto;
    .divider {
      color: darken(#ffffff, 50);
    }
  }
}

// Site feedback form.
.site-feedback-form {
  position: relative;
  background: white;
  padding: 20px;
  width: auto;
  max-width: 640px;
  margin: 20px auto;
  fieldset {
    legend {
      width: 100%;
      span {
        @extend %heading--2;
      }
    }
  }
  p {
    margin: 0;
  }
  .messages {
    margin: 2rem 1rem 0 1rem;
  }
  .webform-component--site-feedback-page-url {
    display: none;
    visibility: hidden;
  }
  .webform-component--site-feedback-helpful {
    display: none;
    visibility: hidden;
  }
  .url-textfield {
    display: none;
    visibility: hidden;
  }
  .site-feedback-thanks-countdown {
    color: #cd4d02;
    font-weight: bold;
  }
}

@media (min-width: 479px) {
  .site-feedback-block {
    & {
      @include font-size-line-height($h2-font-size * .7, $heading-line-height-ratio);
      margin: 0;
      padding: 1rem 0;
    }
    &__simple {
      margin-left: 4rem;
    }
    a {
      margin: 0 0.8rem;
    }
  }
}

@media (min-width: 720px) {
  .site-feedback-block {
    & {
      @include font-size-line-height($h2-font-size * .8, $heading-line-height-ratio);
    }
  }
  .site-feedback-form {
    .webform-client-form {
      input[type="text"] {
        width: 100%;
      }
      input[type="tel"], input[type="email"] {
        min-width: 200px;
        width: 260px;
      }
      .webform-component-email {
        float: left;
      }
      .webform-component-phone {
        float: right;
      }
    }
  }
}

@media (min-width: 960px) {
  .site-feedback-form {
    .webform-client-form {
      padding: 2rem 1rem;
    }
  }
}