// Featured grid item
//
// A tight grid of featured content each with a different background colour.
//
// Markup: featured__item.html
//
// Styleguide components.featured__item

@import 'components/heading/heading';
@import 'layouts/layout-two-column/layout-two-column';

%featured__grid-item,
.featured__grid-item {
  @extend %layout-two-column__item--no-gutter;
  position: relative;
  padding: 1rem;
  margin-bottom: 0;

  @include breakpoint($medium) {
    padding: 2rem 2rem 5.5rem;
    min-height: 245px;

    .flexbox & {
      min-height: 0;
    }
  }

  &:nth-child(odd) {
    @extend %palette-extend--left;
    clear: left;
  }

  &:nth-child(even) {
    @extend %palette-extend--right;
  }

  h2 {
    @extend %featured__title;
  }
}

.featured__title,
%featured__title {
  @extend %heading--2;
  margin: 0 0 2rem;
}

.featured__img,
%featured__img {
  padding-bottom: 0;
  float: right;

  img {
    width: auto;
    height: 38px;
    @include breakpoint($medium) {
      height: 62px;
    }
  }
}

.featured__read-more,
%featured__read-more {
  @include breakpoint($medium) {
    position: absolute;
    bottom: 2.25rem;
  }
}

// Fugly.
.featured__grid-item {
  .read-more {
    @extend %featured__read-more;
  }
}
