// Sets the different link state colours
@mixin link-palette($link: color(blue), $hover: color(blue-light), $active: color(dark), $visited: color(red)) {
  color: $link;

  &:hover,
  &:focus {
    color: $hover;
    border-color: currentColor;
  }

  &:active {
    color: $active;
    border-color: currentColor;
  }

  // &:visited {
  //   color: $visited;
  // }
}

/* Links
   ========================================================================== */

// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to
// download a resource.
//
// Markup: links.html
//
// :visited - A link that has already been visited.
// :hover   - A link that is being hovered over.
// :focus   - A link that has been given keyboard focus.
// :active  - A link that is being actively clicked.
//
// Styleguide: base.links

/**
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */

%link__border--thin {
  text-decoration: none;
  padding-bottom: .125rem;
  border-bottom: 1px solid currentColor;
}

%link__border--thick {
  text-decoration: none;
  padding-bottom: .25rem;
  border-bottom: 2px solid currentColor;
}

a,
%link {
  @extend %link-palette__normal;
  @extend %link__border--thin;
  @if support-legacy-browser(ie, '10') {
    // Remove the gray background color from active links in IE 10.
    background-color: transparent;
  }
}

// Improve readability by removing focus styles when also mouse hovered in all browsers.
a:hover,
a:active {
  outline: 0;
}


