// List Inline Circle
//
// Markup: list-inline-circle.html
//
// Styleguide components.list-inline-circle
@import 'base/links/links';
@import 'components/underline-on-hover/underline-on-hover';
.list-inline-circle, %list-inline-circle {
  li {
    float: left;
    list-style-type: circle;
    margin: 0 3rem 1rem 0;
    a {
      @extend %underline-on-hover;
      @extend %link-palette__grey;
      @extend %link__border--thick;
      white-space: nowrap;
    }
  }
}
