// Grid Stream
//
// A component that manages a stream of grids
//
// Markup: grid-stream.html
//
// Styleguide components.grid-stream

@import 'components/heading/heading';
@import 'components/spacer/spacer';
@import 'components/background-image/background-image';
@import 'layouts/layout-two-column/layout-two-column';

.grid-stream,
%grid-stream {
  @extend %layout-two-column;
  @extend %spacer;
  @extend %layout-max--sm-med-lrg;
}

.grid-stream__title,
%grid-stream__title {
  @extend %heading--3--light;
  padding-top: .25rem;
  @include breakpoint(max-width $medium) {
    margin-bottom: 0;
  }
}

.grid-stream__icon,
%grid-stream__icon {
  img {
    margin-right: .25rem;
    vertical-align: baseline;
    height: 18px;
    @include breakpoint(1100px) {
      height: 35px;
    }
    .no-mediaqueries & {
      @include element-invisible;
    }
  }

  &__name {
    @include element-invisible;
    .no-mediaqueries & {
      @include element-invisible-off;
    }
  }
}

.grid-stream__item,
%grid-stream__item {
  @extend %clearfix;
  background: white;
  margin-bottom: 1rem;
  position: relative;
  @include breakpoint($large) {
    margin-bottom: 2rem;
  }
  &__left {
    @extend %spacer--horizontal;
    padding-top: .5rem;
    float: left;
    width: calc(100% - 100px);
    @include breakpoint(1100px) {
      padding: 1.5rem 2rem 4.4rem;
    }
  }
  &__right {
    float: right;
    width: 100px;
  }
  &__read-more {
    display: none;
    @include breakpoint(1100px) {
      display: inline-block;
      position: absolute;
      bottom: 1.25rem;
    }
  }

  // Fugly
  .read-more {
    @extend %grid-stream__item__read-more;
  }
}

.grid-stream__has-update,
%grid-stream__has-update {
  @extend %clearfix;
  // Make sure read more link doesn't overlay updates.
  position: relative;
}

%grid-stream__image-overlay,
.grid-stream__image-overlay {
  padding: 0;
  border: none;
  display: block;
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 200;
  }

  // IE requires z-index to display overlay.
  picture {
    display: block;

    &,
    * {
      position: relative;
      z-index: 1;
    }
  }
}
