// Grid Stream Item (Vertical)
//
// The Vertical variant, used for Promotional content
//
// Markup: grid-stream__item--vertical.html
//
// Styleguide components.grid-stream__item--vertical

@import 'components/grid-stream/grid-stream';

@include add-grid(12);
@include add-gutter(0);

.grid-stream__item--vertical,
%grid-stream__item--vertical {
  @extend %grid-stream__item;
  @extend %layout-three-column__item;
  &__top {
    display: none;
  }
  &__bottom {
    @extend %spacer;
    @include breakpoint(1100px) {
      padding: 1rem 2rem 4.5rem;
    }
  }
}

.grid-stream__item--vertical--has-image,
%grid-stream__item--vertical--has-image {
  @extend %grid-stream__item--vertical;

  .grid-stream__item--vertical__top {
    display: block;
  }
  .grid-stream__description {
    display: none !important;
  }
}

.grid-stream__item--vertical--has-image-description,
%grid-stream__item--vertical--has-image-description {
  @extend %grid-stream__item--vertical;

  .grid-stream__item--vertical__top {
    display: block;
  }
}
