// Sidebar Two Thirds
//
// Markup: layout-two-thirds.html
//
// Styleguide: layouts.two-thirds


.layout-two-thirds__main,
%layout-two-thirds__main {
  @include breakpoint($medium) {
    float: left;
    width: 75%;
    padding: 0 1rem;
  }
}

.layout-two-thirds__sidebar,
%layout-two-thirds__sidebar {
  @include breakpoint($medium) {
    float: left;
    width: 25%;
  }
}
