// Header
//
// An inline list of links on large screens which collapses down into an
// vertical list of links
//
// Markup: header.html
//
// Styleguide components.header

%header,
.header {
  @extend %spacer--large;
}

%header__logo,
.header__logo {
  @extend %underline-on-hover__never;
  display: block;
  float: left;
  margin-right: 1rem;
  width: 191px;
  @include breakpoint($medium) {
    width: 360px;
  }

  .no-mediaqueries & {
    @extend %hide-text;
    background-image: url('../logo.png');
    background-repeat: no-repeat;
    height: 67px;
    width: 360px;
    margin-bottom: 2rem;
  }
}

%header__logo-image,
.header__logo-image {
  height: 38px;

  @include breakpoint($medium) {
    height: 67px;
  }
}

%header__item,
.header__item {
  float: right;
  position: relative;
}
