<ul class="tabs-primary tabs primary"><li class="tabs-primary__tab is-active"><a href="/radio-spectrum-review-request-input" class="tabs-primary__tab-link is-active active">View <span class="element-invisible">(active tab)</span></a></li>
  <li class="tabs-primary__tab"><a href="#" class="tabs-primary__tab-link">Edit</a></li>
  <li class="tabs-primary__tab"><a href="#" class="tabs-primary__tab-link">Manage display</a></li>
  <li class="tabs-primary__tab"><a href="#" class="tabs-primary__tab-link">Revisions</a></li>
</ul>
