<div class="layout-max spacer">
  <div class="accordion">
    {{> accordion__item
     accordion__title="Malcolm Turnbull"
     accordion__sub-title="Minister for Communications"
     accordion__image="/sites/all/themes/govcms/dcomms_theme/sass/components/accordion/accordion__image.png"
    }}

    {{> accordion__item
    accordion__title="Telecommunications"
    accordion__sub-title="Working to reform the telecommunications sector including the implementation of the NBN"
    }}

    {{> accordion__item
    accordion__title="Toggle item without image or subtitle "
    }}
 </div>
</div>
