// Channel list
//
// Markup: channel-list.html
//
// Styleguide components.channel-list

@import 'components/palette/palette';
@import 'components/font/font';
@import 'components/underline-on-hover/underline-on-hover';

.channel-list__palette,
%channel-list__palette {
  @extend %palette__light-grey;
  @extend %palette-extend--both;
}

.channel-list__grid-container,
%channel-list__grid-container {
  @extend %layout-max--sm-med-lrg;
  @extend %spacer--large;

  @include breakpoint($medium) {
    text-align: center;
    .flexbox & {
      @include display-flex;
    }
  }

  .no-mediaqueries & {
    max-width: $x-large;
  }
}

%channel-list__grid-item,
.channel-list__grid-item {
  display: block;
  vertical-align: top;
  min-width: 40px;

  @include breakpoint($medium) {
    display: inline-block;
    text-align: center;
    width: 14%; // for browsers without flexbox (IE9 & 10).
    .flexbox & {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  .no-mediaqueries & {
    display: inline-block;
    text-align: center;
    width: 14%;
  }

  &:last-child .channel-list__grid-inner {
    border-bottom: 0;
  }
}

%channel-list__grid-inner,
.channel-list__grid-inner {
  display: block;
  padding: 1rem .5rem;
  border-bottom: 1px solid #ccc;
  @include breakpoint($medium) {
    @include border-radius(3px);
    border-bottom: 0;
    max-width: 180px;
    margin: 0 auto;
    padding: 1rem .5rem;
  }
  @include breakpoint($large) {
    min-height: 218px;
  }

  &:focus,
  &:hover {
    border-color: #ccc;
    cursor: pointer;
    color: color(blue-light) !important;
    @include breakpoint($medium) {
      @include single-box-shadow(0, 2px, 2px, 0, #ccc);
      background: color(white);
    }
  }

  &:active {
    border-color: #ccc;
    color: color(dark) !important;
    @include breakpoint($medium) {
      @include single-box-shadow(0, 2px, 2px, 0, #ccc, true);
      background: #e9e9e9;
    }
  }
}

.channel-list__img-wrapper,
%channel-list__img-wrapper {
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
  @include breakpoint($medium) {
    margin-right: 0;
    margin-bottom: 1rem;
    display: block;
  }

  .no-mediaqueries & {
    display: none;
  }
}

.channel-list__img,
%channel-list__img {
  width: 50px;
  height: 40px;

  @include breakpoint($medium) {
    width: auto;
    height: 66px;
    max-height: 66px;
  }
}

.channel-list__title,
%channel-list__title {
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: 500;
  vertical-align: middle;

  @include breakpoint($medium) {
    display: block;
    margin-bottom: .25rem;
  }

  .no-mediaqueries & {
    display: block;
    margin-bottom: 1rem;
  }
}

.channel-list__description,
%channel-list__description {
  @extend %show-at__large;
  margin: 0 auto;
  line-height: 1.4rem;
  max-width: 150px;
}

// Fugly

.channel-list__img-wrapper {
  img {
    @extend %channel-list__img;
  }
}
