// News list
//
// Markup: news-list.html
//
// Styleguide components.news-list

.news-list,
%news-list {
  @extend %layout-max;
  @extend %palette-extend--both;
  @extend %spacer--large;
  background: color(grey-off-white);
}

.news-list__title,
%news-list__title {
  @extend %grid-stream__title;
}

.news-list__item,
%news-list__item {
  @extend %clearfix__overflow;
  position: relative;
  background: white;
  margin-bottom: 1rem;
  @include breakpoint($large) {
    margin-bottom: 2rem;
  }
  &__left {
    padding: .5rem 1rem;
    float: left;
    width: calc(100% - 100px);
    @include breakpoint($medium) {
      padding: 1.5rem 2rem 4.4rem;
      width: 67.25%;
    }
  }
  &__right {
    float: right;
    width: 100px;
    @include breakpoint($medium) {
      width: 24.5%;
    }
  }

  .grid-stream__icon {
    @include breakpoint($medium) {
      margin-bottom: 1rem;
    }
  }

  .read-more {
    display: none;
    @include breakpoint($medium) {
      display: inline-block;
      position: absolute;
      bottom: 1.25rem;
    }
  }
}
