// Alert priority

$alert_high: #cd4902;
$alert_moderate: #2f7ba7;
$alert_low: #0C6364;

.alert-priority {
  text-transform: uppercase;
  font-weight: 700;
  .alert-list__icon {
    display: inline;
    svg {
      width: 32px;
      height: 18px;
      @include breakpoint($large) {
        width: 42px;
        height: 27px;
      }
      vertical-align: middle;
    }
  }
  &.alert-priority-high {
    color: $alert_high;
    .alert-list__icon {
      color: $alert_high;
    }
  }
  &.alert-priority-moderate {
    color: $alert_moderate;
    .alert-list__icon {
      color: $alert_moderate;
    }
  }
  &.alert-priority-low {
    color: $alert_low;
    .alert-list__icon {
      color: $alert_low;
    }
  }
}

.alert-wrapper {
  .alert-priority {
    display: inline-block;
    @include breakpoint($large) {
      display: inline;
    }
  }
  .clearfix__overflow {
    display: inline-block;
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    @include breakpoint($large) {
      display: inline;
      border-left: 1px solid #12293a;
      margin-left: 1em;
      padding-left: 1em;
    }
  }
}

.alert-list__item {
  &.alert-priority-high {
    border-top-color: $alert_high;
    .read-more {
      color: $alert_high;
    }
    .alert-list__icon {
      color: $alert_high;
    }
  }
  &.alert-priority-moderate {
    border-top-color: $alert_moderate;
    .read-more {
      color: $alert_moderate;
    }
    .alert-list__icon {
      color: $alert_moderate;
    }
  }
  &.alert-priority-low {
    border-top-color: $alert_low;
    .read-more {
      color: $alert_low;
    }
    .alert-list__icon {
      color: $alert_low;
    }
  }
}

body.node-type-alert {
  .alert {
    .alert-wrapper {
      width: 100%;
      margin-bottom: 1rem;
      @include breakpoint($large) {
        width: 75%;
        margin-bottom: 4rem;
      }
      .clearfix__overflow {
        margin-top: 1em;
        @include breakpoint($large) {
          margin-top: auto;
        }
      }
    }
  }
}
