// List Arrow
//
// Markup: list-arrow.html
//
// Styleguide components.list-arrow

@import 'components/list-unstyled/list-unstyled';
@import 'components/underline-on-hover/underline-on-hover';
@import 'components/spacer/spacer';
@import 'components/subsite-palette/subsite-palette';
@import 'components/bordered/bordered';

.list-arrow {
  @extend %bordered--vertical;
}

.list-arrow__header {
  @extend %heading--4--no-space;
}

.list-arrow__list,
%list-arrow__list {
  @extend %list-unstyled;
  @extend %spacer--bottom;
  @extend %underline-on-hover__wrapper;
}

.list-arrow__item,
%list-arrow__item {
  margin: 0 0 .5rem;
  fill: currentColor;

  svg {
    height: 16px;
    width: 16px;
    padding-right: .25rem;
    vertical-align: baseline;
  }

  // Subsite theming (doesn't need to be extendable).
  .subsite__stay-smart-online & {
    &,
    a {
      @include subsite-link-color(stay-smart-online);
    }
  }
  .subsite__digital-business & {
    &,
    a {
      @include subsite-link-color(digital-business);
    }
  }
  .subsite__bureau-communications-research & {
    &,
    a {
      @include subsite-link-color(bureau-communications-research);
    }
  }
  .subsite__communications & {
    &,
    a {
      @include subsite-link-color(communications);
    }
  }
  .alert-list__header & {
    &,
    a {
      @include subsite-link-color(alert);
    }
  }
}


// Fugly.
// Required for Related content list.

// scss-lint:disable MergeableSelector
.list-arrow {
  li {
    @extend %list-arrow__item;
  }
}
