<div class="spacer--vertical">
<div class="progress-bar {{ modifier_class }}">
  <div class="progress-bar__text">
    <div class="progress-bar__start-date">Started March 05, 2015 09:00 EST</div>
    <div class="progress-bar__end-date">Ended June 17, 2015 17:00 EST</div>
  </div>
  <div class="progress-bar__bar">
    <div style="width: 67%;" class="progress-bar__progress"></div>
  </div>
  <div class="progress-bar__days-remain">
    <span class="progress-bar__label">Days Remaining</span>
    <span class="progress-bar__highlighted">100</span> of 200</div>
  <div class="progress-bar__completion">
    <span class="progress-bar__label">Completion</span>
    67%</div>
  <div class="progress-bar__highlighted">Now under review</div>
</div>
</div>
