<div class="layout-three-column">

    <h2 class="spacer--vertical clearfix__overflow">Three Column SVG</h2>

    <div class="layout-row">
        <div class="layout-three-column__item">
            {{> three-column-svg__item }}
        </div>
        <div class="layout-three-column__item">
            {{> three-column-svg__item }}
        </div>
        <div class="layout-three-column__item">
            {{> three-column-svg__item }}
        </div>
        <div class="layout-three-column__item">
            {{> three-column-svg__item }}
        </div>
    </div>

    {{> read-more }}
</div>
