<div class="offscreen {{ modifier_class }}"><div class="offscreen__inner header-background">
    {{> header }}

    <div class="layout-max spacer--medium">
        <h1 class="heading--1">This is an example of a page title</h1>
        <div class="layout-sidebar__main">
            <div class="font__large">
                This is an introductory paragraph, at vero eos et accusamus et
                iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas, iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
            </div>

            {{> read-more }}

        </div>

        {{> share-row }}

    </div>

    <div class="bordered--vertical">
        <div  data-kss="lorem-ipsum" class="layout-max  spacer--medium"></div>
    </div>

    <div class="layout-max spacer--medium">
        {{> body-base }}

        <div class="spacer--bottom">
           <div><strong>File:</strong></div>
            sample.txt
        </div>

        <div class="spacer--bottom">
            <div><strong>Stream:</strong></div>
            Internet
        </div>

        <div class="spacer--bottom">
            <div><strong>Business Area:</strong></div>
            Stay Smart Online
        </div>
    </div>
</div></div>

