<div class="promotional-feature {{ modifier_class }}">

  <div class="promotional-feature__item">
    <div class="promotional-feature__left">
      <img src="http://fpoimg.com/420x280" alt="" />
    </div>
    <div class="promotional-feature__right">
      <h2 class="promotional-feature__title">Latest budget update title</h2>
      <p>The 2014-2015 Budget provides over $7 billion in funding to the Communications Portfolio aimed at enhancing digital productivity, expanding digital infrastructure, and promote efficient communications markets in Australia.</p>
      {{> read-more }}
    </div>
  </div>

</div>
