<div class="grid-stream__icon">
  <img src="/sites/all/themes/govcms/dcomms_theme/images/internet.svg" alt="Image 1" />
  <span class="grid-stream__icon__name">Section title</span>
</div>
<div class="grid-stream__title"><a href="#">Quis autumn lorem ipsum mionr</a></div>
<div class="teaser-grid-item__description show-at__large">Lorem ipsum dolor elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
{{> read-more }}
