// Background images
//
// Markup: background-image.html
//
// Styleguide components.background-image

@mixin background-image($file_name, $left: 50%, $size: cover) {
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $left 0;
  background-image: url("../images/#{$file_name}");
}

%background-image__cross,
.background-image__cross {
  @include background-image('bg--cross.svg');
}
%background-image__big,
.background-image__big {
  @include background-image('bg--big.svg', 100%);
}
%background-image__small,
.background-image__small {
  @include background-image('bg--small.svg', 100%);
}
%background-image__point,
.background-image__point {
  @include background-image('bg--point.svg', 0);
}
