// Sidebar layout
//
// Markup: layout-sidebar.html
//
// Styleguide: layouts.sidebar


.layout-sidebar__main,
%layout-sidebar__main {
  margin-bottom: 1rem;
  @include breakpoint($large) {
    padding-right: 3rem;
    float: left;
    width: 75%;
    max-width: 760px;
    margin-bottom: 0;
  }
}

.layout-sidebar__sidebar,
%layout-sidebar__sidebar {
  @include breakpoint($large) {
    float: right;
    width: 25%;
  }
}
