<div class="featured__grid-item {{ modifier_class }}">

  <div class="featured__img">
    <img src="/sites/all/themes/govcms/doca_common/sass/components/featured/example.svg" alt="Icon" />
  </div>

  <h2 class="heading--2">Featured content title</h2>

  <p class="featured__content">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id
  dolor id nibh ultricies vehicula.</p>

  {{> read-more }}

</div>
