<div style="margin: 0 -10px"> <!-- Remove KSS padding for responsive iframe. -->

    <div class="twitter-stream">

        <h2 class="heading--2--spaced">New on Twitter</h2>

        <a class="twitter-timeline"
           data-chrome="noheader noborders transparent nofooter"
           data-link-color="#00478c"
           data-dnt="true"
           data-tweet-limit="3"
           data-widget-id="360632154172030979"
           href="https://twitter.com/commsau"></a>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
                    js.src="//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);}
            }(document,"script","twitter-wjs");
        </script>

        {{> twitter-account }}

    </div>

</div>

