// Twitter Stream
//
// Links:
// https://github.com/kevinburke/customize-twitter-1.1 <br>
// https://www.geekgoddess.com/change-twitter-widget-to-wider-than-520px/ <br>
//
// Markup: twitter-stream.html
//
// Styleguide components.twitter-stream

@import 'compass';
@import 'library/font-size-line-height';
@import 'layouts/layout-three-column/layout-three-column';


$tweet-stream__very-small: 160px;
$tweet-stream__small: 160px;
$tweet-stream__medium: 160px;
$tweet-stream__large: 160px;
$tweet-stream__margin-bottom: 20px;

html {
  font-size: 100% !important;
}

.twitter-stream {
  @extend %layout-three-column;
  @include box-sizing(border-box);
}



.twitter-timeline {
  width: 100% !important;
  max-width: 100% !important;

  height: ($tweet-stream__very-small + $tweet-stream__margin-bottom) * 3;
  @include breakpoint($small) {
    height: ($tweet-stream__medium + $tweet-stream__margin-bottom) * 3;
  }
  @include breakpoint($medium) {
    height: ($tweet-stream__medium + $tweet-stream__margin-bottom) * 2;
  }
  @include breakpoint($large) {
    height: ($tweet-stream__large + $tweet-stream__margin-bottom);
  }
}


.stream {

  .avatar {
    display: none;
  }

  .header {
    padding-left: 0 !important;
  }

  .tweet {
    // Include layout-three-column__item with slightly smaller medium BP to fit smaller iframe media query.
    @include layout-three-column__item(($medium - 50px), $large);
    @include box-sizing(border-box);
    padding: 0 !important;
    margin-bottom: $tweet-stream__margin-bottom !important;
    position: relative !important;

    // Set heights on tweets
    height: $tweet-stream__very-small;
    @include breakpoint($small) {
      height: $tweet-stream__medium;
    }
    @include breakpoint($medium) {
      height: $tweet-stream__medium;
    }
    @include breakpoint($large) {
      height: $tweet-stream__large;
    }

    .e-entry-title {
      font-weight: 300 !important;
      font-size: 1rem !important;
      line-height: 1.5rem !important;
    }

    .inline-media {
      display: none !important;
    }

  }

}




