// Back to top link
//
// Markup: link-top.html
//
// Styleguide components.link-top
.link-top, %link-top {
  @extend %underline-on-hover__never;
  @include hide-text;
  background: url('../images/top-arrow.svg');
  display: block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
