/* Embedded content
   ========================================================================== */

// Embedded content
//
// Weight: 2
//
// Styleguide: base.embedded

// Image
//
// An &lt;img&gt; tag represents an image.
//
// Markup: embedded-img.html
//
// Styleguide: base.embedded.img

img {
  @if support-legacy-browser(ie, '10') {
    /* Remove border when inside `a` element in IE 8/9/10. */
    border: 0;
  }
  /* Suppress the space beneath the baseline */
  vertical-align: bottom;
}

svg {
  vertical-align: sub;
}

img,
svg {
  /* Responsive images */
  max-width: 100%;
  height: auto;
  @if support-legacy-browser(ie, '8') {
    /* Correct IE 8 not scaling image height when resized. */
    width: auto;
  }
}
