<div class="spacer--large palette__light-grey">
<div class="tabber clearfix">
    <ul class="tabber__nav">
        <li class="first"><a class="tabber__nav-item is-active" href="#">The Issue</a></li>
        <li class=""><a class="tabber__nav-item" href="#">Updates and Milestones</a></li>
        <li class="last"><a class="tabber__nav-item" href="#">Outcomes</a></li>
    </ul>
    <div class="tabber__panes-wrapper">
        <div class="tabber__mobile-item is-active">The Issue</div>
        <fieldset class="tabber__pane">
            <div data-kss="lorem-ipsum"></div>
        </fieldset>
        <div class="tabber__mobile-item">Updates and Milestones</div>
        <fieldset class="tabber__pane is-hidden">
            <div data-kss="lorem-ipsum"></div>
        </fieldset>
        <div class="tabber__mobile-item">Outcomes</div>
        <fieldset class="tabber__pane tabber__pane--no-space is-hidden">

          <div class="tabber__pane--inner-space" data-kss="lorem-ipsum"></div>
          <div class="palette__blue-on-grey">
            <h3 class="tabber__pane--inner-title">Results</h3>
            <div class="tabber__pane--inner-space" data-kss="lorem-ipsum"></div>
          </div>

        </fieldset>
    </div>
</div>
</div>
