//
// Initialization partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import 'init' declaration. And this _init.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This initialization partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we define our custom mixins for this theme.
//


// Import our variables.
//
// Allows us to set variables before a library sets its !default value.
@import 'variables';


// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass.
@import 'compass';
// Add Breakpoint.
@import 'breakpoint';
// Add singularityGS
@import 'singularitygs';
// Now we add our custom helper mixins.
@import 'library/*';
