<div class="grid-stream palette__light-grey">
  <div class="clearfix">
    {{> grid-stream__item--portrait }}
    {{> grid-stream__item--portrait }}
  </div>

  {{> grid-stream__item--landscape }}

  <div class="clearfix">
    {{> grid-stream__item--portrait-small }}
    {{> grid-stream__item--portrait-small }}
  </div>

  {{> grid-stream__item--landscape-small }}
  {{> grid-stream__item--landscape-small modifier="--has-image" }}

  <div class="clearfix">
    {{> grid-stream__item--vertical }}
    {{> grid-stream__item--vertical modifier="--has-image" }}
    {{> grid-stream__item--vertical }}
  </div>
</div>
