<nav class="header-menu">
  <ul class="header-menu__menu">
    <li class="header-menu__item is-active"><a class="header-menu__link" href="#">Link 1</a></li>
    <li class="header-menu__item"><a class="header-menu__link" href="#">Link 2</a></li>
    <li class="header-menu__item"><a class="header-menu__link" href="#">Link 3</a></li>
    <li class="header-menu__item"><a class="header-menu__link" href="#">Link 4</a></li>
    <li class="header-search__icon-wrapper"><a class="header-search__icon--link" href="#">Search</a></li>
  </ul>
</nav>
