<div class="poll-form {{ modifier_class }}">

  <h2 class="poll-form__title">Is this thing important to you?</h2>
  <p class="poll-form__desc">We would love to hear your opinion on this topic</p>

  <form class="poll-form__form">

    <div class="poll-form__choices form__item">
      <label class="form__label element-invisible">Choices</label>

      <div class="poll-form__option">
        <label class="form__label--inline"><input type="radio" name="choice"> Yes, it's important</label>
      </div>
      <div class="poll-form__option">
        <label class="form__label--inline"><input type="radio" name="choice"> No it's not important</label>
      </div>
    </div>

    <input type="submit" value="Vote" class="poll-form__button">
  </form>
</div>
