<div class="heading--1">Heading 1</div>
<div class="heading--2">Heading 2</div>
<div class="heading--3">Heading 3</div>
<div class="heading--4">Heading 4</div>
<div class="heading--5">Heading 5</div>

If your heading has a link inside it, that link will inherit its parent heading's color.

<div class="heading--1"><a href="#">Heading 1</a></div>
<div class="heading--2"><a href="#">Heading 2</a></div>
<div class="heading--3"><a href="#">Heading 3</a></div>
<div class="heading--4"><a href="#">Heading 4</a></div>
<div class="heading--5"><a href="#">Heading 5</a></div>

You may want to embed your heading within another element rather
        than use in flow of a document, in that case use the <strong>--no-space</strong> modifier

<div class="heading--1--no-space">Heading 1</div>
<div class="heading--2--no-space">Heading 2</div>
<div class="heading--3--no-space">Heading 3</div>
<div class="heading--4--no-space">Heading 4</div>
<div class="heading--5--no-space">Heading 5</div>