// Tim Hurely

.section-migration-assurance-policy {

  // SVG images in corner of blue cards
  .featured__grid-container .featured-palette {
    .featured__grid-item {
      .file {
        margin: 0;
      }
      img {
        height: 132px;
      }
    }
  }


  .field-name-field-migration-assurance-menu {
    background-color: #D7D7D7;
    .steps-section {  // 1,2,3,4 Section
      text-align: center;
      width: 75%;
      float: left;
      //padding: 2em;
      @include background-image('bg--online-publication.svg');
      .steps_item_list {  // <ul>
        li {
          width: 25%;
          display: block;
          a,
          .step_item_count,
          .step_item_title {
            width: 100%;
            text-decoration: none;
          }
          .step_item_count {
            font-size: 200%;
            font-weight: 600;
            color: #D1D3D5;
            text-shadow: 2px 2px #ABB1B5;
          }
          .step_item_title {
            font-size: 150%;
            text-transform: uppercase;
          }
        }
      }
      .step_footer {
        background: rgba(#eee, 0.6);
        display: block;
        margin-top: 1em;
        padding-bottom: 1.4em;
        padding-top: 0;
        border: none;
      }
    }
    .circle-section {
      width: 25%;
      float: left;
      border: 9px solid #DFDFDF;
      border-top-color: #D1D3D5;
      border-left-color: #D1D3D5;
      transform: rotate(80deg);
      border-radius: 100%;
      width: 150px;
      height: 150px;
      margin-left: 6%;
      span {
        transform: rotate(-80deg);
        top: 55px;
        text-align: center;
        display: block;
        position: relative;
      }
    }
    // greyscale logos
    .inline-logo-list {
      a {
        img {
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
        }
        &:hover,
        &:active,
        &:focus {
          img {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
          }
        }
      }
    }
  }

}
