// Bordered
//
// Markup: bordered.html
//
// Styleguide components.bordered

@import 'components/spacer/spacer';

.bordered,
%bordered {
  border-color:  color(grey-light);
  border-style:  solid;
  border-width: 1px;
}

.bordered--vertical,
%bordered--vertical {
  @extend %bordered;
  @extend %spacer--vertical;
  border-width: 1px 0;
}

.bordered--top,
%bordered--top {
  @extend %bordered;
  border-width: 1px 0 0;
}
