// Update
//
// Markup: update.html
//
// Styleguide components.update

.update,
%update {
  @extend %bordered--top;
  overflow: hidden;

  &__icon {
    float: left;
    margin-right: 1rem;
    width: 6rem;
    text-align: center;
    padding-top: 1rem;
    min-height: 5rem;
  }

  &__title {
    @extend %underline-on-hover__wrapper;
    @include font-size-line-height(1.25rem);
    font-weight: 500;
    margin: 1rem 0 0;

    @include breakpoint($large) {
      @include font-size-line-height(1.8rem);
      margin-top: .25rem;
    }
  }

  &__date {
    color: color(grey-dark);
    margin-bottom: 0;

    @include breakpoint($large) {
      @include font-size-line-height(1.25rem);
    }
  }
}
