// @file
// Styles are organized using the SMACSS technique. @see http://smacss.com/book/
// Colors and Sass
//
// Documentation for colors and Sass mixins and variables.
//
// Weight: -1
//
// Styleguide: sass
// Import Sass mixins, variables, Compass modules, etc.
@import 'init';
// Lib
@import 'library/*';
// Base
//
// These are the base styles applied to HTML elements.
//
// Styleguide: base
@import 'base/**/*';
// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme. Note: some Panels layouts are included in other parts of the system
// and are not documented.
//
// Styleguide: layouts
@import 'layouts/**/*';
// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Weight: 1
//
// Styleguide: components
@import 'components/**/*';
// Templates
//
// Templates are mashups of different components as they would be used around the website.
//
// Weight: 2
//
// Styleguide: templates
@import 'templates/**/*';

// Override style.
@import 'override';
