 // Doug Courtney
.inline-logo-list-pillar-link {
    h3 {
        float: left;
        margin-top: 1.5em;  
        font-size: 110%;  
    }
    ul {
        margin-top: 0;
        text-align: center;
        display: list-item;
        li{
            margin:0;
            width: 11em !important;
        }
        
    }
    li:hover{
        border-bottom: 1px solid #DBDBDB;
    }
    a {
        font-size:xx-small; 
        width:8em;
        word-wrap: break-word;
        border-bottom:0px white !important;
    }
    img {
        height:80px !important; 
        max-width:auto;
        float:left;
    }
    span{
        
        display: inline-block;
        line-height:normal;
        vertical-align: middle;
        margin-top: 19px;
        color: black;
        font-size: 11px;
    }


}
@media (max-width: 850px) {
 .inline-logo-list-pillar-link {
    h3 {
        float: none;
      }
      ul{
         text-align: center;
         display: list-item;
      }
    }
  }
  @media (max-width: 720px) {
 .inline-logo-list-pillar-link {
     text-align: center;
    }
  }