// Doug Courtney
.inline-logo-list-pillar-link {
    h3 {
        float: left;
        margin-top: 1.5em;
        font-size: 110%;  
    }
    ul {
        margin-top: 0;
    }
    a {
        font-size:xx-small; 
        width:8em;
        word-wrap: break-word;
        border-bottom:0px white !important;
    }
    img {
        height:80px !important; 
        max-width:auto;
        float:left;
    }
    span{
        
        display: inline-block;
        line-height:normal;
        vertical-align: middle;
        margin-top: 19px;
        color: black;
        font-size: 11px;
    }


}
