// Twitter account
//
// Markup: twitter-account.html
//
// Styleguide components.twitter-account
%twitter-account, .twitter-account {
  @extend %spacer--vertical;
  @extend %clearfix__overflow;
  @extend %underline-on-hover__never;
  color: color(grey-black);
  line-height: 24px;
  max-width: 250px;
}

%twitter-account__avatar, .twitter-account__avatar {
  float: left;
  margin-right: 1rem;
}

%twitter-account__icon, .twitter-account__icon {
  @extend %hide-text;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: bottom;
  background-image: url('../images/twitter.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
