<div class="page-404__wrapper">

    <div class="page-404__two-column">
        <div class="page-404__column-title">
            <h1>
                <div class="page-404__title">404</div>
                <div class="page-404__sub-title">page not found</div>
            </h1>
        </div>
    </div>

    <div class="page-404__two-column">
        <div class="page-404__message">
            <h3 class="heading--3--light">Oops</h3>

            <p>It looks like you haven't been able to find what you're looking for.</p>

            <p>This could be because we have a brand new website.</p>

            <p>Try again with the link below and use search to find the information you're after.</p>


            <p><a class="read-more" href="http://communications.gov.au">communications.gov.au</a></p>
        </div>
    </div>

</div>
