// Flex Box
//
// A modern grid class that is only supported by newer browsers.
//
// Markup:
// <div class="flex-box">
// <div class="flex-box__item">Item 1</div>
// <div class="flex-box__item">Item 2</div>
// </div>
//
// Styleguide components.flex-box

.flex-box,
%flex-box {
  // check for modernizer class
  .flexbox & {
    @include display-flex;
  }
}

.flex-box__item,
%flex-box__item {
  // check for modernizer class
  .flexbox & {
    flex-grow: 1;
    flex-basis: 0;
  }
}
