<div class="document-list">

  <div class="document-list__item">
    <div class="document-list__inner">
      <h2 class="document-list__title"><a href="#">Document name</a></h2>
      <p class="document-list__date">Submitted 17th Jan 2014</p>

      {{> file }}

      <div class="document-list__desc" data-kss="lorem-ipsum"></div>
    </div>
  </div>

  <div class="document-list__item">
    <div class="document-list__inner">
      <h2 class="document-list__title"><a href="#">Document name</a></h2>
      <p class="document-list__date">Submitted 17th Jan 2014</p>

      {{> file }}

      <div class="document-list__desc" data-kss="lorem-ipsum"></div>
    </div>
  </div>

</div>
