<div class="layout-three-column">

    <h2 class="spacer--vertical clearfix__overflow">New on Twitter</h2>

    <div class="layout-row">
        <div class="layout-three-column__item">
            <div class="font__small">Jun 20 - 30 minutes ago</div>
            Have your say on the future of Triple Zero <a href="#">bit.ly/1iHajyN</a> #triplezeroreview
        </div>
        <div class="layout-three-column__item">
            <div class="font__small">Jun 19 - 1 day ago</div>
            Significant Flash vulnerability fixed. #timetoupdate #AlertService #staysmartonline <a href="#">bit.ly/1iHajyN</a>
        </div>
        <div class="layout-three-column__item">
            <div class="font__small">Jun 18 - 2 days ago</div>
            Australian retailers lagging behind their international competitors in adoption of #digital commerce via <a href="#">bit.ly/1iHajyN</a>
        </div>
    </div>

    {{> twitter-account }}

</div>
