// Footer
//
// Markup: footer.html
//
// Styleguide components.footer

.footer__wrapper {
  @extend %clearfix__overflow;
  @include background-image('bg--footer.svg', 50%);
  background-color: color(grey-off-white);
}

.footer__border,
%footer__border {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: color(grey-light);
}

.footer__heading,
%footer__heading {
  @extend %font__medium;
  margin-bottom: 1rem;
  color: color(dark);
}
