<div class="palette__light-grey clearfix">

  <div class="channel-list__grid-container">

    <div class="channel-list__grid-item">
      <a class="channel-list__grid-inner" href="#">
        <div class="channel-list__img-wrapper">
          <img class="channel-list__img" src="/sites/all/themes/govcms/doca_theme/sass/components/channel-list/01_internet.svg">
        </div>
        <div class="channel-list__title">Internet</div>
        <div class="channel-list__description show-at__medium">Privacy, Security, NBN</div>
      </a>
    </div>
    <div class="channel-list__grid-item">
      <a class="channel-list__grid-inner" href="#">
        <div class="channel-list__img-wrapper">
            <img class="channel-list__img" src="/sites/all/themes/govcms/doca_theme/sass/components/channel-list/02_tv.svg">
        </div>
        <div class="channel-list__title">TV</div>
        <div class="channel-list__description show-at__medium">Licencing, Advertising, Broadcasting</div>
      </a>
    </div>
    <div class="channel-list__grid-item">
      <a class="channel-list__grid-inner" href="#">
        <div class="channel-list__img-wrapper">
            <img class="channel-list__img" src="/sites/all/themes/govcms/doca_theme/sass/components/channel-list/03_phone.svg">
        </div>
        <div class="channel-list__title">Phone</div>
        <div class="channel-list__description show-at__medium">Regulation, Competition, Safety</div>
      </a>
    </div>
    <div class="channel-list__grid-item">
      <a class="channel-list__grid-inner" href="#">
        <div class="channel-list__img-wrapper">
            <img class="channel-list__img" src="/sites/all/themes/govcms/doca_theme/sass/components/channel-list/04_radio.svg">
        </div>
        <div class="channel-list__title">Radio</div>
        <div class="channel-list__description">Frequency, Broadcasting</div>
      </a>
    </div>
    <div class="channel-list__grid-item">
      <a class="channel-list__grid-inner" href="#">
        <div class="channel-list__img-wrapper">
            <img class="channel-list__img" src="/sites/all/themes/govcms/doca_theme/sass/components/channel-list/05_post.svg">
        </div>
        <div class="channel-list__title">Post</div>
        <div class="channel-list__description">AusPost, International, Delivery </div>
      </a>
    </div>
    <div class="channel-list__grid-item">
      <a class="channel-list__grid-inner" href="#">
        <div class="channel-list__img-wrapper">
          <img class="channel-list__img" src="/sites/all/themes/govcms/doca_theme/sass/components/channel-list/06_research.svg">
        </div>
        <div class="channel-list__title">Research</div>
        <div class="channel-list__description">Bureau of Research Communications</div>
      </a>
    </div>

  </div>

</div>
