<div class="footer__wrapper">

    <div class="layout-max">

        <div class="spacer--large show-at__medium">{{> footer-menu }}</div>

        <div class="spacer--large">
            <div class="layout-centered center-left">
                <h2 class="footer__heading">Image list heading</h2>
                <ul class="list-inline--even-padding">
                    <li><a href="/"><img src="/sites/all/themes/govcms/dcomms_theme/sass/templates/footer-area/image.png" alt="Image 1" /></a></li>
                    <li><a href="/"><img src="/sites/all/themes/govcms/dcomms_theme/sass/templates/footer-area/image.png" alt="Image 2" /></a></li>
                    <li><a href="/"><img src="/sites/all/themes/govcms/dcomms_theme/sass/templates/footer-area/image.png" alt="Image 3" /></a></li>
                </ul>
            </div>
        </div>

        <div class="spacer--large footer__border">{{> copyright }}</div>

    </div>

</div>
