// Grid Stream (business area)
//
// Colour branding of grid steam items
//
// Markup: grid-stream__item--business-area.html
//
// .subsite__sub-theme-1 - Sub Theme 1
// .subsite__sub-theme-2 - Sub Theme 2
// .subsite__sub-theme-3 - Sub Theme 3
// .subsite__sub-theme-4 - Sub Theme 4
//
// Styleguide components.grid-stream__item--business-area
@import 'components/subsite-palette/subsite-palette';
.grid-stream__item--business-area, %grid-stream__item--business-area {
  overflow: hidden;
  position: relative;
  &__border {
    content: '';
    height: 4px;
    width: 101%;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 210;
  }
  &:after {
    @extend %grid-stream__item--business-area__border;
  }
  &--hide-stream {
    .is-stream {
      display: none;
    }
  }
  .field-name-field-stream.field-type-taxonomy-term-reference {
    display: none;
  }
}

// Paletting
@each $subsite, $palette in $subsite-palette {
  .grid-stream__item--business-area.subsite__#{$subsite} {
    .grid-stream__icon {
      @include subsite-link-color($subsite);
    }
    &:after {
      background-color: palette($subsite-palette, $subsite border);
      z-index: 1;
    }
  }
}
