<div class="grid-stream__item--business-area {{modifier_class}}">
  <div class="grid-stream__item--landscape__left">
    {{> teaser-grid-item }}
  </div>
  <div class="grid-stream__item--landscape__right">
    {{> responsive-image
    image-alt="Awesome alt text"
    image-small-src="http://fpoimg.com/100x100"
    image-small-bp="720px"
    image-medium-src="http://fpoimg.com/484x180"
    image-medium-bp="980px"
    image-medlrg-src="http://fpoimg.com/860x400"
    image-medlrg-bp="1150px"
    image-large-src="http://fpoimg.com/860x340"
    image-large="1200px"
    }}
  </div>
</div>
