// Responsive tables
//
// The <b>.tablesaw</b> class, and <b>data-tablesaw-mode</b> attribute are required
// to make the table responsive. A &lt;thead&gt; is also required around the &lt;th&gt; cells. <br />
// Links: https://github.com/filamentgroup/tablesaw#tablesaw-
//
// Markup: tablesaw.html
//
// Styleguide components.tablesaw
.tablesaw {
  border: 1px solid #dfdfdf;
  tbody tr {
    border-top: 1px solid #dfdfdf;
  }
  &.tablesaw-stack tbody tr {
    border-bottom: none;
  }
  thead th {
    text-shadow: none !important;
  }
  thead, th {
    .layout-sidebar__main & {
      background: #a5a5a5;
      color: #000;
    }
  }
  tr.tr-even {
    background: #e4e4e4;
  }
  td, th {
    .layout-sidebar__main & {
      vertical-align: top;
      text-align: center;
      line-height: 1.5em;
    }
  }
}
