{{#if subsiteClass}}
    <div class="{{ subsiteClass }}">
        <div class="subsite-header">
            <div class="subsite-header__branding">
                <div class="subsite-header__layout">
                    <img class="subsite-header__logo-large" src="{{ subsiteLogoLarge }}" alt="Logo" />
                 </div>

                <div class="subsite-header__layout--small">
                    <img class="subsite-header__logo-small " src="{{ subsiteLogoSmall }}" alt="Logo" />

                    <nav class="subsite-header__nav" role="navigation" id="subsite-naviagtion">
                        <button class="subsite-header__button">
                            <span class="subsite-header__button-link">Topics</span><svg xmlns="http://www.w3.org/2000/svg" class="subsite-header__arrow" viewbox="0 0 512 512" preserveaspectratio="xMinYMin" width="512" height="512" version="1"><path style="line-height:125%;-inkscape-font-specification:Serif Italic" d="M256 422.128l76.255-76.256L512 166.128l-76.255-76.256L256 269.617 76.255 89.872 0 166.128l179.745 179.744L256 422.128z" font-size="1353.902" font-style="italic" letter-spacing="0" word-spacing="0" font-family="Serif"/></svg>
                        </button>
                        <ul class="subsite-header__list">
                            <li class="subsite-header__item">
                                <a class="subsite-header__link" href="#">Topics</a>
                            </li>
                            <li class="subsite-header__item is-active">
                                <a class="subsite-header__link" href="#">Link 2</a>
                            </li>
                            <li class="subsite-header__item">
                                <a class="subsite-header__link" href="#">Link 3</a>
                            </li>
                            <li class="subsite-header__item">
                                <a class="subsite-header__link" href="#">Link 4</a>
                            </li>
                            <li class="subsite-header__item">
                                <a class="subsite-header__link" href="#">Link 5</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
{{/if}}
