
{{>
    subsite-header
    subsiteClass="subsite__sub-theme-1 "
    subsiteLogoLarge="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/sso--large.svg"
    subsiteLogoSmall="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/sso--small.svg"
}}


<div style="height: 8rem; width: 100%;"></div>



{{>
subsite-header
subsiteClass="subsite__sub-theme-2"
subsiteLogoLarge="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/research--large.svg"
subsiteLogoSmall="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/research--small.svg"
}}





<div style="height: 8rem; width: 100%;"></div>


{{>
subsite-header
subsiteClass="subsite__sub-theme-3"
subsiteLogoLarge="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/digibus--large.svg"
subsiteLogoSmall="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/digibus--small.svg"
}}





<div style="height: 8rem; width: 100%;"></div>


{{>
subsite-header
subsiteClass="subsite__sub-theme-4"
subsiteLogoLarge="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/digibus--large.svg"
subsiteLogoSmall="/sites/all/themes/govcms/doca_common/images/example-svgs/business-area/digibus--small.svg"
}}





