<div class="news-list">
  <div class="news-list__item">
    <div class="news-list__item__left">
      <div class="grid-stream__icon">
        <img src="/sites/all/themes/govcms/dcomms_theme/images/internet.svg" alt="Image 1" />
        <span class="grid-stream__icon__name">Section title</span>
      </div>
      <div class="show-at__medium">12 April 2015</div>
      <div class="news-list__title"><a href="#">Quis autumn lorem ipsum mionr</a></div>
      <div class="show-at__large">Lorem ipsum dolor elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
      {{> read-more }}
    </div>
    <div class="news-list__item__right">
      {{> responsive-image
      image-alt="Awesome alt text"
      image-small-src="http://fpoimg.com/100x100"
      image-small-bp="720px"
      image-medium-src="http://fpoimg.com/305x305"
      image-medium-bp="980px"
      image-medlrg-src="http://fpoimg.com/305x305"
      image-medlrg-bp="1150px"
      image-large-src="http://fpoimg.com/305x305"
      image-large="1200px"
      }}
    </div>
  </div>
</div>
