// Layout Two Columns
//
// A two column grid on large screens, that collapses into one column on small screens.
// .layout-row div is only needed to isolate grid items from other siblings.
//
// Markup: layout-two-column.html
//
// Styleguide layouts.two-column

@import 'layouts/layout-max/layout-max';

%layout-two-column,
.layout-two-column {
  @extend %layout-max--sm-med-lrg;
  @extend %clearfix;
}

@include add-grid(12);
@include add-gutter(1/3);

@mixin layout-two-column__item {
  margin-bottom: 2rem;

  @include breakpoint($medium) {

    @include float-span(6);

    // For some reason flexboxed items need this
    .flexbox & {
      &:first-child {
        margin-left: -1px;
      }
    }

    &:nth-child(2n+2) {

      @include float-span(6, last);

    }
  }
}

%layout-two-column__item,
.layout-two-column__item {
  @include layout-two-column__item;
}

// Layout Two Columns - No Gutters
//
// A two column grid with no gutters
//
// Markup: layout-two-column__item--no-gutter.html
//
// Styleguide layouts.two-column--no-gutter

%layout-two-column__item--no-gutter,
.layout-two-column__item--no-gutter {
  @include add-gutter(0);
  @include layout-two-column__item;
  margin-bottom: 0;
}
