// Heading
//
// Responsive header variations, with and without space, also takes heading links into consideration.
//
// Markup: heading.html
//
// Styleguide components.heading

@import 'components/subsite-palette/subsite-palette';

$heading-line-height-ratio: 1.25;
// The font sizes for h1-h6.
$h1-font-size: 3rem;
$h2-font-size: 2.2rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.1rem;

%heading,
.heading {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;

  a {
    @extend %underline-on-hover;
    color: inherit;
  }
}

@mixin heading {
  @extend %heading;
  $root-selector: #{&};

  &--no-space {
    @extend #{$root-selector};
    margin: 0;
  }

  &--light {
    @extend #{$root-selector};
    font-weight: 300;
  }
}

%heading--1,
.heading--1 {
  @extend %layout-max;
  @extend %spacer--horizontal;
  @include heading;
  @include font-size-line-height($h1-font-size * .7, $heading-line-height-ratio);
  font-family: Gafata, serif, monospace;
  margin-bottom: .5rem;

  @include breakpoint($large) {
    @include font-size-line-height($h1-font-size, $heading-line-height-ratio);
  }
}

%heading--2,
.heading--2 {
  @include heading;
  @include font-size-line-height($h2-font-size * .9, $heading-line-height-ratio);
  font-family: Gafata, serif, monospace;
  margin-bottom: 2rem;

  @include breakpoint($large) {
    @include font-size-line-height($h2-font-size, $heading-line-height-ratio);
  }
}

%heading--2--spaced,
.heading--2--spaced {
  @extend %heading--2;
  margin: 1rem 0 2rem;

  // Subsite theming (does need to be extendable).
  .subsite__stay-smart-online & {
    color: palette($subsite-palette, stay-smart-online foreground);
  }
  .subsite__digital-business & {
    color: palette($subsite-palette, digital-business foreground);
  }
  .subsite__bureau-communications-research & {
    color: palette($subsite-palette, bureau-communications-research foreground);
  }
}

%heading--3,
.heading--3 {
  @include heading;
  @include font-size-line-height($h3-font-size * .9, $heading-line-height-ratio);
  font-family: Roboto, sans-serif, monospace;

  @include breakpoint($large) {
    @include font-size-line-height($h3-font-size, $heading-line-height-ratio);
  }
}

.heading--3--spaced,
%heading--3--spaced {
  @extend %heading--3;
  margin: 1rem 0;
}

%heading--4,
.heading--4 {
  @include heading;
  @include font-size-line-height($h4-font-size * .9, $heading-line-height-ratio);
  font-family: Roboto, sans-serif, monospace;
  @include breakpoint($large) {
    @include font-size-line-height($h4-font-size, $heading-line-height-ratio);
  }
}

.heading--4--spaced,
%heading--4--spaced {
  @extend %heading--4;
  margin: 1rem 0 3rem;
}

%heading--5,
.heading--5 {
  @include heading;
  @include font-size-line-height($h5-font-size * .9, $heading-line-height-ratio);
  font-family: Roboto, sans-serif, monospace;
  @include breakpoint($large) {
    @include font-size-line-height($h5-font-size, $heading-line-height-ratio);
  }
}

.heading--5--spaced,
%heading--5--spaced {
  @extend %heading--5;
  margin: 1rem 0 2rem;
}
