// Pager
//
// Markup: pager.html
//
// Styleguide components.pager

@import 'components/underline-on-hover/underline-on-hover';
@import 'components/button/button';

%pager__wrapper,
.pager__wrapper {
  width: 100%;
  text-align: center;
}

.pager {
  display: inline-block;
  text-align: center;
  clear: both;
  padding: 20px 0;
  margin: 0 auto;
  line-height: 40px;

  > .pager {
    padding: 0;
    margin: 0;
    clear: none;
    list-style: none;
    float: none;
    text-align: center;
    width: auto;
  }

}

%pager-item {
  display: inline-block;
  padding: 0 .5em;
  list-style-type: none;
  background-image: none;
  color: color(grey-dark);
  font-weight: 500;
}

%pager-item__link {
  @extend %underline-on-hover;
  color: color(grey-dark);

  &:hover,
  &:focus {
    color: color(blue-light);
  }
}

.pager-item {
  // A list item containing a page number in the list of pages.
  @extend %pager-item;

  a {
    @extend %pager-item__link;
  }
}

.pager-ellipsis {
  // A concatenation of several list items using an ellipsis.
  @extend %pager-item;
}

.pager-current {
  // The current page's list item.
  @extend %pager-item;
  color: color(dark);
}

.pager-previous,
.pager-next {
  // The previous and next page's list item.
  @extend %pager-item;

  a {
    @extend %button--alt;
  }
}

.pager-previous {
  float: left;
}
.pager-next {
  float: right;
}

.pager-first,
.pager-last {
  // The first and last page's list item.
  display: none;
}
