// Footer menu
//
// A four column grid of links on large screens which collapses down into a
// single inline list of links on smaller screens.
//
// Markup: footer-menu.html
//
// Styleguide components.footer-menu

.footer-menu,
%footer-menu {
  @extend %center-left;
  @extend %list-unstyled__wrapper;
}

.footer-menu__column,
%footer-menu__column {
  display: inline-block;
  vertical-align: top;

  @include breakpoint($medium) {
    float: left;
    width: 25%;
  }

  .no-mediaqueries & {
    float: left;
    width: 25%;
  }
}

.footer-menu__title,
%footer-menu__title {
  @extend %footer__heading;
  @include underline-on-hover;
  display: inline-block;
}

.footer-menu__item,
%footer-menu__item {
  padding-bottom: 0.5rem;
  a {
    @include link-palette(color(grey-dark), color(dark));
  }
}
