 // Doug 
.inline-logo-list-pillar-link {
    
    h3 {
        float: left;
        margin-top: 1.5em;  
        font-size: 110%;  
    }
    ul {
        margin-top: 0;
        text-align: left;
        display:table;        
        li{
            width: 10em !important;
            border-bottom: 1px solid white;
        }
        
    }
    li:hover{
        border-bottom: 1px solid #DBDBDB;
        
    }
    a {
        font-size:xx-small; 
        text-align: left;
        width:8em;
        word-wrap: break-word;
        border-bottom:1px white !important;
    }
    img {
        height:80px !important; 
        max-width:auto;
        float:left;
    }
    span{
        
        display: inline-block;
        line-height:normal;
        vertical-align: middle;
        margin-top: 19px;
        color: black;
        font-size: 11px;
    }


}
@media (max-width: 850px) {
 .inline-logo-list-pillar-link {
    h3 {
        float: none;
      }
      ul{
         text-align: center;
         display:table;
         li{
             float:left;
             text-align: left;
         }
      }
    }
  }
  @media (max-width: 720px) {
 .inline-logo-list-pillar-link {
    h3 {
        text-align:center;
      }
      ul{
         margin: 0;
         
         
         li{
             display:inline-block;
             float:none !important;
             text-align: left;
         }
        }
  }
  }