body.page-search {

  .file__wrapper--slim,
  .file__wrapper {
    float: left;
  }

  .layout-sidebar__sidebar {
    margin-top: 2.25em;
    .block-facetapi {
      margin-bottom: 2em;
      .list-arrow {
        border-bottom: 0;
        ul {
          list-style-image: url('../images/arrow--grey.svg');
          padding-left: 13px;
          li {
            padding-left: 0;
          }
        }
        a.facetapi-active {
          border-bottom: 0;
          img {
            width: 0.6em;
            height: 0.6em;
            top: -0.35em;
            position: relative;
            margin-left: 0.2em;
          }
          &:hover,
          &:active,
          &:focus {
            img {
              //filter:brightness(200%);  // 😒 existing '@function brightness($color)' kills this 😒
              // similar result, just more complicated:
              -webkit-filter: contrast(200%) saturate(200%) hue-rotate(315deg) opacity(80%) sepia(0.1);
              filter: contrast(200%) saturate(200%) hue-rotate(315deg) opacity(80%) sepia(0.1);
            }
          }
        }
      }
    }
  }

}


@media (max-width: 979px) {
  body.page-search {
    .block-facetapi {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
