// Filter
//
// Dropdown list used to filter or sort content
//
// Markup: filter.html
//
// Styleguide: components.filter

@import 'components/form/form';

%filter,
.filter {
  margin: 0;

  @include breakpoint($medium) {
    margin: 0 1rem .5rem 0;
    float: left;
  }

  &--search {
    @include breakpoint($medium) {
      width: 60%;
    }
    @include breakpoint($large) {
      width: 70%;
    }

    .form-item {
      max-width: none;
    }

    &__input {
      @include background-image('search--grey.svg', 0, 30px 30px);
      background-position: 15px 50%;
      background-color: color(white);
      font-size: 1.1rem;
      height: 65px;
      line-height: 65px;
      padding-left: 4rem;
      width: 100%;
    }
  }

  &__wrapper {
    @extend %layout-max;
    @extend %spacer--bottom-large;
  }

  &__left {
    border-bottom: 1px solid color(grey-light);
    margin-bottom: 1rem;
    @include breakpoint($medium) {
      float: left;
      margin-right: 1rem;
    }
  }

  &__right {
    border-bottom: 1px solid color(grey-light);
    margin-bottom: 1rem;
    @include breakpoint($medium) {
      clear: none;
      float: right;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: baseline;
    padding: 0;
  }

  &__label {
    @extend %filter__item;
    color: color(grey-dark);
    font-weight: 300;
  }

  &__label--main {
    @extend %filter;
    min-height: 40px;
    line-height: 40px;
    font-weight: 500;
    color: color(dark);
    margin-bottom: 0;
  }

  &__select {
    border: 0;
    background: {
      image: url('../sass/components/filter/down.svg');
      position: right;
      color: transparent;
    }
    max-width: 250px;
    padding-right: 20px;
    // scss-lint:enable DuplicateProperty
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: .01px;
    text-overflow: '';

    &[multiple] {
      background-image: none;
    }

    &[disabled] {
      background-image: none;
    }

    &::-ms-expand {
      display: none;
    }
  }

  &__input {
    @extend %form__input;
    @extend %font__small;
    max-width: 200px;
    min-width: 0;
  }

  &__button {
    @extend %spacer--vertical;
    clear: both;
    @include breakpoint($medium) {
      padding: 0;
    }
  }

  &__submit-button {
    margin-right: 1rem;
    @include breakpoint($medium) {
      font-size: 1.2rem;
      height: 60px;
      line-height: 60px;
    }
  }

  &__clear-button {
    @include button__reset;
  }
}

$button--yellow__palette: (
  background: palette($subsite-palette, bureau-communications-research background-light),
  foreground: color(black),
  border: palette($subsite-palette, bureau-communications-research background-dark),
);

.filter--yellow,
%filter--yellow {
  position: relative;

  .filter__right {
    float: left;
  }
  .filter__right,
  .filter__left {
    border-bottom: 0;
    margin-bottom: 0;
  }

  %filter__select,
  .filter__select {
    color: palette($subsite-palette, bureau-communications-research foreground);
    background-image: url('../sass/components/filter/down--red.svg');
  }

  .filter__submit-button,
  %filter__submit-button {
    @include button-palette($button--yellow__palette);
  }

  .filter__button,
  %filter__button {
    @include breakpoint($medium) {
      position: absolute;
      top: 0;
      right: 0;
      width: 38%;
    }
    @include breakpoint($large) {
      width: 28%;
    }
  }
}

// Delete this when implementing DOC-29735.
.filter--orig {

  .filter {
    @extend %spacer--vertical;
    border-color:  color(grey-light);
    border-style:  solid;
    border-width: 1px 0 0;

    @include breakpoint($medium) {
      margin: 0 1rem 1rem 0;
      border-width: 1px 0;
    }
  }

  .filter__left,
  .filter__right {
    border: none !important;
    margin-bottom: 0;
    @include breakpoint($medium) {
      float: none;
      margin-right: 0;
    }
  }

  .filter__right {
    margin: 0;
    @include breakpoint($medium) {
      margin: 0 0 1rem 1rem;
      float: right;
    }
  }

  .filter__button {
    @include breakpoint($medium) {
      padding: 1rem 0;
    }
  }
}

// Fugly.
.filter {
  .form-item {
    @extend %filter__item;
  }
  label {
    @extend %filter__label;
  }
  .form-select {
    @extend %filter__select;
  }
  .form-text {
    @extend %filter__input;
  }

  .form-item-sort-by label {
    @extend %filter__label--main;
  }

  .form-item-sort-order label {
    @extend %filter__label--main;
  }
}

.filter--search {
  label {
    @extend %element-invisible;
  }
  input {
    @extend %filter--search__input;
  }
}

.filter__submit {
  input {
    @extend %filter__submit-button;
  }
}

.filter__clear {
  input {
    @extend %filter__clear-button;
  }
}
