
{{>
    subsite-header
    subsiteClass="subsite__stay-smart-online "
    subsiteLogoLarge="/sites/all/themes/govcms/dcomms_theme/images/example-svgs/business-area/sso--large.svg"
    subsiteLogoSmall="/sites/all/themes/govcms/dcomms_theme/images/example-svgs/business-area/sso--small.svg"
}}


<div style="height: 8rem; width: 100%;"></div>



{{>
subsite-header
subsiteClass="subsite__bureau-communications-research"
subsiteLogoLarge="/sites/all/themes/govcms/dcomms_theme/images/example-svgs/business-area/bcar-large.svg"
subsiteLogoSmall="/sites/all/themes/govcms/dcomms_theme/images/example-svgs/business-area/bcar-small.svg"
}}





<div style="height: 8rem; width: 100%;"></div>


{{>
subsite-header
subsiteClass="subsite__digital-business"
subsiteLogoLarge="/sites/all/themes/govcms/dcomms_theme/images/example-svgs/business-area/digibus--large.svg"
subsiteLogoSmall="/sites/all/themes/govcms/dcomms_theme/images/example-svgs/business-area/digibus--small.svg"
}}





