<div class="grid-stream__item--portrait">
    <div class="grid-stream__item--portrait__left">
        {{> teaser-grid-item }}
    </div>
    <div class="grid-stream__item--portrait__right">
      <a href="#" class="grid-stream__image-overlay">
        {{> responsive-image
        image-alt="Awesome alt text"
        image-small-src="http://fpoimg.com/100x100"
        image-small-bp="720px"
        image-medium-src="http://fpoimg.com/176x264"
        image-medium-bp="980px"
        image-medlrg-src="http://fpoimg.com/320x500"
        image-medlrg-bp="1150px"
        image-large-src="http://fpoimg.com/320x485"
        image-large="1200px"
        }}
        </a>
    </div>
</div>
