// Link Palette
//
// Markup: link-palette.html
//
// Styleguide components.link-palette
.link-palette__normal, %link-palette__normal {
  @include link-palette();
}

.link-palette__grey, %link-palette__grey {
  @include link-palette(color(grey-dark));
}

.link-default, %link-default {
  color: color(doca-blue) !important;
  text-decoration: none;
  border: none;
  &:hover {
    color: #000;
  }
}
