<div class="alert-signup layout-two-column">

  <div class="layout-two-column__item">
    <h2>Sign up to Online Alerts</h2>
    <p>The Stay Smart Online Alert Service is a free service for Australian internet users, to explain recent online threats and how they can be managed.</p>

    <form method="post" class="em_wfe_form serviceSubscribe" id="em_subscribe_form" name="em_subscribe_form" action="https://alerts.staysmartonline.gov.au/em/forms/subscribe.php?db=367399&amp;s=82046&amp;a=38192&amp;k=20950e0&amp;wt=1" enctype="multipart/form-data" target="_blank">
      <div class="form__item">
        <label class="form__label element-invisible" for="em_wfs_formfield_2972662">Enter your email to subscribe</label>
        <input type="email" value="" placeholder="Your email address" class="form__input" id="em_wfs_formfield_2972662" name="em_wfs_formfield_2972662" maxlength="255">
        <div class="form__description">Your email address and phone number will never be shared (<a href="<?php print base_path(); ?>privacy-policy">privacy policy</a>). <br />We will use it to contact you with feedback.</div>
      </div>
      <div class="form__action">
        <input type="submit" value="Subscribe" title="submit" class="button--alert">
      </div>
    </form>
  </div>
  <div class="layout-two-column__item show-at__medium">
    <img class="alert-signup__svg" src="/sites/all/themes/govcms/dcomms_theme/images/SSO-alert-service.svg" />
  </div>
</div>
