<div class="grid-stream__item--vertical{{ modifier }}">
    <div class="grid-stream__item--vertical__top">
      <a href="#" class="grid-stream__image-overlay">
        {{> responsive-image
        image-alt="Awesome alt text"
        image-small-src="http://fpoimg.com/560x350"
        image-small-bp="720px"
        image-medium-src="http://fpoimg.com/416x230"
        image-medium-bp="980px"
        image-medlrg-src="http://fpoimg.com/416x230"
        image-medlrg-bp="980px"
        image-large-src="http://fpoimg.com/416x230"
        image-large="1200px"
        }}
      </a>
    </div>
    <div class="grid-stream__item--vertical__bottom">
      {{> promotion-grid-item }}
    </div>
</div>
