<span data-picture>
    <span data-src="{{ image-small-src }}"></span>
    <span data-src="{{ image-medium-src }}" data-media="(min-width: {{ image-small-bp }})"></span>
    <span data-src="{{ image-medlrg-src }}" data-media="(min-width: {{ image-medium-bp }})"></span>
    <span data-src="{{ image-large-src }}" data-media="(min-width: {{ image-medlrg-bp }})"></span>
    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript><img src="{{ image-large-src }}" alt="{{ image-alt }}"></noscript>
</span>
