// Accordion
//
//  http://heydonworks.com/practical_aria_examples/#progressive-collapsibles
//
// Markup: accordion.html
//
// Styleguide components.accordion

@import 'components/button/button';

.accordion,
%accordion {
  margin-bottom: 1rem;
}

.accordion__item,
%accordion__item {
  border-top: 1px solid color(grey-light);
  padding: 1.5rem 1rem;

  &:last-child {
    border-bottom: 1px solid color(grey-light);
  }

  [aria-hidden] {
    display: none;
  }

  [aria-hidden="false"] {
    display: block;
  }
}


// scss-lint:disable NestingDepth
.accordion__button,
%accordion__button {
  @include button__reset;
  width: 100%;
  cursor: pointer;
  @include breakpoint($medium) {
    text-align: left;
  }

  .accordion__item--with-image & {
    @include breakpoint($medium) {
      .no-flexbox & {
        > :first-child {
          float: left;
          padding-right: 1rem;
        }
      }
      .flexbox & {
        @include display-flex;
        @include flexbox((
                display: flexbox,
                flex-direction: row
        ), $version: 2);
        @include align-items(center);
        > :first-child {
          padding-right: 1rem;
        }
      }
    }
  }
}

.accordion__item--with-image,
%accordion__item--with-image {
  @extend %accordion__item;
  padding: 1rem;
}

.accordion__title,
%accordion__title {
  display: inline;
  color: color(grey-dark);
}

.accordion__subtitle,
%accordion__subtitle {
  padding: .25rem 0;
}

.accordion__arrow,
%accordion__arrow {
  margin-bottom: 0.25rem;
  width: 18px;
  height: 18px;
  float: right;

  [aria-expanded="true"] & {
    @include transform(scaleY(-1));
  }

  &:focus {
    @include single-box-shadow(0, 2px, 10px, 0, color(grey-light));
  }
}

.accordion__image,
%accordion__image {
  margin-bottom: .5rem;
  @include breakpoint($medium) {
    margin: 0;
  }
}

.accordion__description,
%accordion__description {
  margin-top: 1rem;
}
