<div class="accordion__item {{#if accordion__image}}accordion__item--with-image{{/if}}">
    <button class="accordion__button" aria-expanded="false">
        {{#if accordion__image}}
            <div class="accordion__image"><img src="{{ accordion__image }}" width="75" height="71" alt="Accordion Image"></div>
        {{/if}}
        <div>
            <h4 class="accordion__title">{{ accordion__title }}</h4>
            <svg xmlns="http://www.w3.org/2000/svg" class="accordion__arrow" version="1.1" viewBox="0 0 800 600" preserveAspectRatio="xMidYMid meet" xml:space="preserve"><polygon points="672.019,230.77 700,260.625 469.23,507.692 238.461,260.625 266.298,230.77 469.23,447.837 "/></svg>
            {{#if accordion__sub-title}}<div class="accordion__subtitle">{{ accordion__sub-title }}</div>{{/if}}
        </div>
    </button>
    <div class="accordion__description" aria-hidden="true" data-kss="lorem-ipsum"></div>
</div>