<div class="grid-stream__item--landscape-small{{ modifier_class }}">
  <div class="grid-stream__item--landscape-small__right">
    <a href="#" class="grid-stream__image-overlay">
     {{> responsive-image
      image-alt="Awesome alt text"
      image-small-src="http://fpoimg.com/560x350"
      image-small-bp="720px"
      image-medium-src="http://fpoimg.com/225x400"
      image-medium-bp="980px"
      image-medlrg-src="http://fpoimg.com/430x525"
      image-medlrg-bp="1150px"
      image-large-src="http://fpoimg.com/430x432"
      image-large="1200px"
      }}
    </a>
  </div>
  <div class="grid-stream__item--landscape-small__left">
    {{> promotion-grid-item }}
  </div>
</div>
