<p>
  <button type="submit" class="button--normal {{ modifier_class }}">Button</button>
  <button type="submit" class="button--alt {{ modifier_class }}">Button alt</button>
</p>
<p>
  <input type="submit" class="button--normal {{ modifier_class }}" value="Input Button">
  <input type="submit" class="button--alt {{ modifier_class }}" value="Input Button alt">
</p>
<p>
  <a href="#" class="button--normal {{ modifier_class }}">Link Button</a>
  <a href="#" class="button--alt {{ modifier_class }}">Link Button alt</a>
</p>
